# Ignoramos todo los builds
**/Debug/*
!**/Debug/*.elf
# Ignoramos el directorio que contiene Manuales y programas
PH/
# Ignoramos los backup
*~
**/*~
# Ignoramos los temp
#*#
**/#*#
# Ignoramos los test
*.tst
**/*.tst
# Ignoramos los metadatos de Eclipse
.metadata/
# Ignoramos proyectos erroneos
RemoteSystemsTempFiles/
# Ignoramos archivos de compilacion de Latex
**/.#*.tex
**/.fuse_hidden*
**/_region_*
**/*.idx
**/*.out
**/*.toc
**/memoria/*.log
**/*.aux
# .lnk
**/*.lnk
