# Ignoramos todo el Build
*/**/Debug/
# Excepto el ejecutable
!*/**/Debug/*.elf
# Ignoramos el directorio que contiene Manuales y programas
PH/
# Ignoramos los backup
*~
*/*~
*/**/*~
# Ignoramos los temp
#*#
*/#*#
*/**/#*#
# Ignoramos los test
*.test
*/*.test
*/**/*.test
